<?php

$CONFIGS['variableScssFile'] = "_variables.scss";
$CONFIGS['font'] = 'fontawesome-webfont.ttf';

$CONFIGS['iconsDataFile'] = 'icons.data.php';
$CONFIGS['outputDir'] = 'E:\my media\stock icon\fontawesome';

$CONFIGS['outputColors'] = array
(
	// do not use 255,0,255 as it is reserved color for background triming
	'white'=>array('r'=>255, 'g'=>255, 'b'=>255),
	'grey'=>array('r'=>128, 'g'=>128, 'b'=>128),
	'black'=>array('r'=>0, 'g'=>0, 'b'=>0),
);
$CONFIGS['outputSizes'] = array('32', '24', '16');